* {
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Courier New', Courier, monospace;
    background-color: rgba(245, 157, 39, 0.8);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    background-image: linear-gradient(315deg, #f1f2f6 0%, #c9c6c6 74%);
    background: linear-gradient(270deg, #1e3c72, #2a5298, #0f2027, #203a43, #2c5364);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
  }
  
.btn {
    background-color: #108c04;
    border: none;
    border-radius: 10px;
    color: #ffffff;
    font-weight: bold;
    font-size: 16px;
    font-family: inherit;
    margin: 1rem;
    padding: 1.5rem 3rem;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
    text-transform: uppercase;
    cursor: pointer;
  }
  
  .btn:hover {
    opacity: 0.9;
  }
  
  .btn:focus {
    outline: none;
  }
  